.bg1{
padding-top:10px;
text-align:center;
padding-left:50%;
height:40px;
background-color:#FFFFFF;


}
ul {
    list-style-type: none;
    margin: 0;
	padding:0;
    overflow: hidden;
    background-color:#FFFFFF;
	
}

li {
    float: left;
}

li a {
    display: block;
    color:#FF0066;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.tx{
background:transparent;
font-family: serif;
vertical-align: baseline;
}
.al{
text-align:center;
padding-top:300px;
font-size:36px;
font-style:normal;
font-weight:700;
color:#FFFFFF;

}
.im1{
background-image:url(mi.jpg);
height:500px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	.d1{
height:500px;
width:auto;
}