
.head {
	top: 0px;
	left:0px;
	margin-right: 900px;
	margin-left: 0px;
	height:900px;
	position:fixed;
	background-color:#111;
}
.head .hom {
	margin-top: 60px;
}
.head div {
	margin: 90px;
}

ul {
    list-style-type:none;
    margin: 0;
	padding:0;
    overflow: hidden;
    background-color:#111;
	
}

li {
    float:inherit;
	font-family:sans-serif;
}

li a {
    display: block;
	color:#FFFFFF;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
	margin:30px;
}

li a:hover {
    background-color:#FF0066;
}
.im{
background-image:url(head.png);
background-repeat:no-repeat;
background-size:cover;
}
.imgm {
	
	font-size: 36px;
	font-style: normal;
	color: #000000;
	width:1004px;
	position:absolute;
	left: 216px;
	top: 0px;
	height: 500px;
	
	
}
.img {
	
	font-size: 36px;
	font-style: normal;
	color: #000000;
	width:1004px;
	position:absolute;
	left: 216px;
	top: 0px;
	height: 335px;
	
	
}

.h2{
color: black;
    font-family: serif;
    font-size: larger;
    font-weight: 500;
}
.text{
text-align:center;
padding-top:200px;
}
.topic{
	left:400px;
	position:absolute;
	top:667px;
	width: 532px;
	height: 130px;
	text-align:center
}
.img-circle {
    border-radius: 1000%;
    
}
.cir{
    background-image:url(prof.png);
    background-size:contain;
     background-repeat: no-repeat;
text-align:center;
height:140px;
width:200px;
}

.topic1 {
	left:400px;
	position:absolute;
	top:170%;
	width: 998px;
	height: 130px;
	text-align:center;
}
.cre{
padding-left:50px;
text-align:justify;
}
.menu{
	left:471px;
	position:absolute;
	top:644px;
	width: 608px;
	height: 130px;
	text-align:center;
	}
.im1{
	left:198px;
	position:absolute;
	top:0px;
	width: 85%;
	height: 249px;
	text-align:center;
	}
	.imm1{
	left:190px;
	position:absolute;
	top:0px;
	width: 85%;
	height: 640px;
	text-align:center;
	}
.headr {
	font-family:serif;
	left:420px;
	position:absolute;
	top:424px;
	width: 610px;
	height: 60px;
	text-align:center;
	background-color:#111;
	color:#f5f4f4;
}
.cp{
    background-image:url(mu.jpg);
    margin-top:30px;
    width: 660px;
	height: 700px;
	margin-left:220px;
	background-size: contain;
    background-repeat: no-repeat;
}
.ab{
    	font-family:serif;
	left:420px;
	position:absolute;
	top:150%;
	width: 690px;
	height: 40px;
	text-align:center;
	background-color:#111;
	color:#f5f4f4;
	padding-top:10px;
}
.par{font-family:sans-serif;
	left:420px;
	position:absolute;
	top:100%;
	width: 690px;
	height: 100px;
	text-align:center;
	background-color:#f5f4f4;
	color:#111;
	padding-top:10px;
	
}
    
.con{
   font-size: x-large;
    font-family: serif;
    font-weight: bold
    
}

.ab1{
    	font-family:serif;
	left:420px;
	position:absolute;
	top:160%;
	width: 690px;
	height: 90%;
	text-align:center;
	background-color:rgb(253, 253, 253);
	color:#111;
	padding-top:10px;
}
.al{
    text-align:start;
    font-family:sans;
    font-size:large;
    color:#FF3300;
}
.secim{
    	font-family:serif;
	left:420px;
	position:absolute;
	top:250%;
	width: 690px;
	height: 70%;
	text-align:center;
	background-image:url(sun.png);
	padding-top:10px;
}
.ab2{
    
    	font-family:serif;
	left:420px;
	position:absolute;
	top:340%;
	width: 690px;
	height: 40px;
	text-align:center;
	background-color:#111;
	color:#f5f4f4;
	padding-top:10px;
}
.add{
	font-family:monospace;
	left:420px;
	position:absolute;
	top:346%;
	width: 690px;
	height: 90%;
	text-align:center;
	background-color:rgb(253, 253, 253);
	color:#111;
	padding-top:40px;
}
.ab3{
    
    	font-family:serif;
	left:420px;
	position:absolute;
	top:180%;
	width: 690px;
	height: 40px;
	text-align:center;
	background-color:#111;
	color:#f5f4f4;
	padding-top:10px;
}
.par1{
    font-family:sans-serif;
	left:420px;
	position:absolute;
	top:230%;
	width: 690px;
	height: 150px;
	text-align:center;
	background-color:#f5f4f4;
	color:#111;
	padding-top:10px;
}
.topic3 {
	left:400px;
	position:absolute;
	top:200%;
	width: 998px;
	height: 130px;
	text-align:center;
}
.ab4{
    	font-family:serif;
	left:420px;
	position:absolute;
	top:280%;
	width: 690px;
	height: 40px;
	text-align:center;
	background-color:#111;
	color:#f5f4f4;
	padding-top:10px;
}
.par3{
    font-family:monospace;
	left:420px;
	position:absolute;
	top:290%;
	width: 690px;
	height: 150px;
	text-align:center;
	background-color:#f5f4f4;
	color:#111;
	padding-top:10px;
}
.rib{
    	font-family:serif;
    	position:absolute;
	top:390%;
	width: 200%;
	height: 60px;
	text-align:center;
	background-color:#111;
	color:#f5f4f4;
	padding-top:10px;
}
.ic{
    background-image:url(download1.png);
}
.h{
    color:white;
    
}