.side{
    width: 120px;
    background: #222;
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.center{
    text-align: center;
}
.small
{
    font-size: 12px;
}